#header-bar{
	margin-top: 30px;
}
#page-header {
	display: inline-block;
}
.student-label{
	font-size: large;
}
#button-wrapper{
/*	padding-left: 600px;
	padding-top: 30px;*/
	vertical-align: middle;
	padding-left: 5px;
}
.badge{
	margin-right: 10px;
}
.message-label{
	font-size: large;
}
#students-panel{
	margin-top: 0;
	display: inline-block;
	border-style: solid;
	border-color: white;
	/*border-width: 4px;*/
	/*background: rgba(42, 139, 202, .2);*/
	background: rgba(245, 245, 245, .9);
	vertical-align: top;

}

#messages-panel{
	margin-top: 0;
	display: inline-block;
	border-style: solid;
	border-color: white;
	/*border-width: 4px 2px 4px 0;*/
	/*background: rgba(42, 139, 202, .2);*/
	background: rgba(245, 245, 245, .9);
	vertical-align: top;

}

#message-detail{
	display: inline-block;
	border-style: solid;
	border-color: white;
	/*border-width: 4px 4px 4px 2px;*/
	/*background: rgba(42, 139, 202, .2);*/
	background: rgba(245, 245, 245, .9);
	vertical-align: top;
	padding: 10px;

}
#message-data{
	padding: 10px;
}
#message-header{
	padding: 10px;
	font-size: 30px;
	height: 50px;
}

#responseBox{
	padding-left: 20px;
	padding-top: 40px;
	width: 100%;
}
#responseText{
	display: inline-block;
	width: 100%;
	height: 200px;

}

#sendResponse{
	vertical-align: bottom;
	margin-right: 0;
}
#new-message-button{
	/*margin-right: 20px;*/
	float: right;
	margin-right: 130px;
	margin-top: 50px;
}