html, body {
	margin-left: 5px;
}

.nav {
	width: 100%;
}

.right{
	float:right;
}

#announce {
	float:right;
}

#inbox {
	float:right;
}

#settings {
	float:right;
}

.navbar-inner{
	border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB;
}
#toolbar{
	background-color: white;
}