.prof{
	float: left; 
	padding: 0px;
	height: 250px;
}
#header-bar{
	margin-top: 30px;
	width: 100%;
}
#editinfo-btn{
	float: right;
	margin-right: 130px;
	margin-top: 50px;
}
#profile-wrapper{
	margin-left: auto;
	margin-right: auto;
}
#contact{
	border-left: thick dashed #ff0000;
	float: right;
}
#student-name{
	margin-top: 0px;
}
/*.container{
	padding-top: 40px;

	border-left:none;
	border-right:none;
	font-size:16px;

}*/
.container div{
	display: inline-block;

} 

.popup{
	width: 400px;
	padding: 15px;
}

.column-left{
	float: left;
	width: 25%;
	padding: 0;
}

.column-center{
	/*display: inline-block;*/
	width: 25%;
	height: 250px;
	margin:10px;
	/*background-color: #EFEFEF;*/
	/*background: rgba(13, 45, 20, .2);*/
	/*background: rgba(42, 139, 202, .2);*/
	background: rgba(245, 245, 245, .9);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	vertical-align:top;
	line-height: 200%;
}

.column-right{
	/*float: right;*/
	display: inline-block;
	width: 25%;
	height: 250px;
	margin:10px;
	vertical-align:top;
	/*background-color: #EFEFEF;*/
	/*background: rgba(42, 139, 202, .2);*/
	/*background: rgba(13, 45, 20, .2);*/
	background: rgba(245, 245, 245, .9);
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
}
#myTimeline{
	margin-top: 30px;

}
.contacticons{
	height:30px;
	padding: 0px 15px;
	cursor: pointer;
}
#button-wrapper{
	display: inline-block;
	margin-left: 30px;
}
.parent{
	line-height: 35px;
}
.icon-wrapper{
	display: inline-block;
	float: right;
	padding-right: 30px;
}
/*#addevent{
	color: white;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
	vertical-align: center;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}*/

#overlay_form{
	position: absolute;
	border: 5px solid gray;
	padding: 10px;
	background: white;
	width: 270px;
	height: 190px;
}

