<html lang="en">
	<head>

		<title>Tandem</title>

		<!--load stylesheets & bootstrap-->
		<link rel="stylesheet" type="text/css" href="/static/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
		<link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
		
		<!-- load necessary javascript files-->
		<script type="text/javascript" src="/static/external_js/jquery-1.9.0.min.js"></script>
        
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/external_js/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="/static/external_js/jquery-ui.min.js"></script>
	</head>
	<body>
		<form class="form-inline" action="{{ request.get_full_path }}" method="POST">{% csrf_token %}
			<br/>
		{% for field in form %}
		    <div class="fieldWrapper">
		        {{ field.errors }}
		        {{ field.error_messages }}
		        {{ field.label_tag }} {{ field }}
		        {{ field.help_text }}
		    </div>
		{% endfor %}
			<p><input type="submit" value="Submit"></p>
		</form>
	</body>
</html>