<html lang="en">
<head>

	<title>Tandem</title>

	<!--load stylesheets & bootstrap-->
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/css/loginStyle.css" />
	<!-- load necessary javascript files-->
	<script type="text/javascript" src="/static/external_js/jquery-1.9.0.min.js"></script>

	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/external_js/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/static/external_js/jquery-ui.min.js"></script>
	<script src="/static/external_js/modernizr.custom.63321.js"></script>
	<style>
		.container-top{
			margin-top: 30px;
			text-align: center;
			font-size: 30px;
		}
		#reg-button{
			background-color: #4CBED9;
			border-width: 0;
			float: right;
			margin-right: 20px;
			margin-bottom: 20px;
		}
		.fieldWrapper{
			padding: 10px;
		}
		.form-1{
			margin-top: 10px;
			width: 40%;
		}
	</style>
</head>
<body>
	<div class="container-top">
		<img src="/static/images/logo2.png" height="60" alt="Tandem">
		</br>Registration Form
	</div>
	<form class="form-1" action="{{ request.get_full_path }}" method="POST">{% csrf_token %}
		<br/>
		{% for field in form %}
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.error_messages }}
			{{ field.label_tag }} {{ field }}
			{{ field.help_text }}
		</div>
		{% endfor %}
		<br/>
		<p><input id="reg-button" class="btn btn-success" type="submit" value="Submit"></p>
		<br/>
		<br/>
	</form>
</body>
</html>