<!--Announcements page
	Main author: Yinfu, Jackie
	Sources: W3Schools, Bootstrap documentation
-->

<html>
<head>
	{% include 'nav_bar.html' %}
	<title>Tandem - Announcements</title>

	<!--load stylesheets & bootstrap-->
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/annoucement.css">
	<link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">

	<!-- load necessary javascript files-->
	<script type="text/javascript" src="/static/external_js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/static/external_js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/external_js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/static/external_js/announcement.js"></script>
	</head>



	<body>
		<div class='container'>
			<div id='header-bar' class='row'>
				<div id='page-header' class="page-header col-md-4"><h3>Announcements</h3></div>
				<button id='new-announcement-button' class='btn btn-success' data-toggle='modal' data-target='#newAnnouncementModal'>New</button>
			</div>
			<div id="announcements-wrapper" class='row'>
				<div class="panel-group" id="accordion">
					{% for a in announcements %}
						<div id='announcement{{a.id}}' class='panel panel-default'>
							<div row="{{a.id}}" class='panel-heading'>
								<h4 class='panel-title'>
									<a data-toggle='collapse' data-parent='#accordion' href='#collapse{{a.id}}'>
										{{ a.subject }}
									</a>
									<div class="delete"><a id='deleteEvent' href='/announcements/delete/{{a.id}}'>Delete</a></div>
									
								</h4>
								<div class='date-time'>{{ a.timestamp }}</div>
							</div>
							<div id='collapse{{a.id}}' class='panel-collapse collapse'>
								<div class='panel-body'>{{ a.content }}</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>

		<div id='newAnnouncementModal' class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id='newAnnouncementForm' class='form-horizontal' action='/announcements/new' method='post'>
						
						{% csrf_token %}
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Add Announcement</h4>
						</div>
						<div class="modal-body">

							<div class='form-group'>
								<label for='subject' class='col-lg-2 control-label'>Subject: </label>
								<div class='col-lg-10'>
									<input type='text' class='form-control' id='subject' name='subject' placeholder='Enter subject'>
								</div>

							</div>

							<div class='form-group'>
								<label for='details' class='col-lg-2 control-label'>Details: </label>
								<div class='col-lg-10'>
									<textarea id='details' class='form-control' name='details' rows='10'></textarea>
								</div>
							</div>


						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button id='announceBTN' type="submit" name='submit' class="btn btn-success">Announce</button>
						</div>

						{% if form.errors %}
				        	<p class="error">Invalid entries. Please double check that you have entered a subject and have entered contents.</p>
				        {% endif %}

					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

<div id='editAnnouncementModal' class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id='editAnnouncementForm' class='form-horizontal' action='/announcements/edit' method='post'>
						
						{% csrf_token %}
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Add Announcement</h4>
						</div>
						<div class="modal-body">

							<div class='form-group'>
								<label for='subject' class='col-lg-2 control-label'>Subject: </label>
								<div class='col-lg-10'>
									<input type='text' class='form-control' id='subject' name='subject' placeholder='Enter subject'>
								</div>

							</div>

							<div class='form-group'>
								<label for='details' class='col-lg-2 control-label'>Details: </label>
								<div class='col-lg-10'>
									<textarea id='details' class='form-control' name='details' rows='10'></textarea>
								</div>
							</div>


						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button id='announceBTN' type="submit" name='submit' class="btn btn-success">Announce</button>
						</div>

						{% if form.errors %}
				        	<p class="error">Invalid entries. Please double check that you have entered a subject and have entered contents.</p>
				        {% endif %}

					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->



	</body>

	</html>
