<!DOCTYPE html>
<!--Messages page
	Main author: Sylvia, Jackie
-->

<html lang="en">
	<head>
		{% include 'nav_bar.html' %}
		<title>Tandem</title>

		<!--load stylesheets & bootstrap-->
		<link rel="stylesheet" type="text/css" href="/static/css/common.css">
		<link rel="stylesheet" type="text/css" href="/static/css/home.css">
		<link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
		<link type="text/css" href="/static/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/ui.switchbutton.min.css" rel="stylesheet" />
		
		<!-- load necessary javascript files-->
		<script type="text/javascript" src="/static/external_js/jquery-1.9.0.min.js"></script>
        
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/external_js/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="/static/external_js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/external_js/jquery.switchbutton.js"></script>
        <!--<script type="text/javascript" src="/static/js/home.js"></script>-->
        
		{% include "homeJS.html" %}
        

		
	</head>


	<body>

	<div class="container">
		<div id='header-bar' class='row'>
			<div id='page-header' class="page-header col-md-4"><h3>Seating Chart</h3></div>
		</div>
		<div id="seat-container">
			{% for student in students %}
				<div class="desk student" id="student{{student.id}}" firstName="{{student.firstName}}" lastName="{{student.lastName}}" parentOne="{{student.parent1}}" parentTwo="{{student.parent2}}" phone="{{student.parent_phone}}" email="{{student.parent_email}}">
					<img class="box" src="/static/image/desk.jpg">
					<div class="names">{{ student.firstName }} {{ student.lastName.0 }}.</div>
				</div>
			{% endfor %}
		</div>
		<div id="list-container">
			<h3 id="search-label">Student Search:</h3>
			<form>
				<input id="tags"/>
			</form>
			<div style="margin-top:100px;">
				<div style="margin-bottom:10px;" >Seat chart draggable mode</br></div>
				<input type="checkbox" class="common" id="drag-mode"/>
			</div>	
		</div>
	</div>


<!-- Message modal for sending a message from parents -->
    <div id='newMessageModal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id='newMessageForm' class='form-horizontal' action='/messages/new' method='post'>
                    	{% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">New Message</h4>
                        </div>
                        <div class="modal-body">
                            <div class='form-group'>
                                <label for='subject' class='col-lg-2 control-label'>To:</label>
                                <div class='col-lg-10'>
                                	<span>Parents of  </span>
                                    <label id="contactparent"></label>
                                    <input type="hidden" id="recipient" name="recipient" value="">
                                </div>

                            </div>
                            <div class='form-group'>
                                <label for='subject' class='col-lg-2 control-label'>Subject</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='subject' placeholder='Enter subject'>
                                </div>

                            </div>

                            <div class='form-group'>
                                <label for='details' class='col-lg-2 control-label'>Message Details</label>
                                <div class='col-lg-10'>
                                    <textarea id='details' class='form-control' rows='10'></textarea>
                                </div>
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id='sendBTN' type="submit" class="btn btn-success">Send</button>
                        </div>

                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <!--Modal for displaying phone numbers -->
<div id='phoneNumberModal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Primary Guardian Contact Info</h4>
                        </div>
                        <div class="modal-body">
                            <div class='form-group'>
                                <div class=' contactInfo'><strong>Phone Number:</strong></div>
                                    <div id="callparent1">{{student.parent_phone}}</div>

                            </div>
                            <br><br>
                            <div class='form-group'>
                                <div class='contactInfo'><strong>Email:</strong></div>

                                    <div id="email1">{{student.parent_email}}</div>

                                </div>
                            </div>

                        </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

			<script>
				

			</script>


	</body>

</html>