{% load message_extras %}
<script type="text/javascript">

//get csrf token for post message reply
var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
};
$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

var studentNames = {{ studentNames|jsonify }}; //dictionary stud id to stud names
var student_ids = {{ student_ids }}; // list of stud id
var numUnread = {{ numUnread|jsonify }};  //maps stud id to numUnread
var studToThread = {{ studToThread|jsonify }}; //maps stud id to thread
var threadToMsgs = {{ threadToMsgs|jsonify }}; //maps thread id to msg
var thread_ids = {{ threadIDs|jsonify }}; //list of thread id
var allThreads = {{ messageThreads|jsonify }}; //list of threads
var nameToID = {};

var hilightStudent = function (elem) {
    $(".student-label").removeClass("btn-success");
    $(elem).addClass("btn-success");

    $("#messages-panel").empty();

    //only render msg if exists for student
    var stud = $(elem).text();
    stud = stud.replace(/[0-9]/g, ''); //remove badge num

    var studID = $(elem).attr('id').replace('student-', '');
    var threadList = studToThread[studID];
    if (threadList.length > 0) {
        for (i in threadList) {
            var t = threadList[i];
            var item = document.createElement("div");
            if (t.unRead){
                item.innerHTML = "<div class='col-md-6'>"+ t.subject + "</div><div class='col-md-4'><span id='badge' class='badge pull-right'>1</span></div>";  //+ t.time;
            } else {
                item.innerHTML = "<div class='col-md-6'>"+ t.subject + "</div>";
            }
            $(item).addClass("message-label btn btn-block row");
            $(item).data("thread", t);
            //associate div with thread obj
            item.onclick=function(){
                hilightThread(this, $(this).data("thread"));
            }
            $("#messages-panel").prepend(item);
        }
    };
    $(".message-label").removeClass("btn-success");
    $("#message-detail").fadeOut();
};

var hilightThread = function (elem, t) {
    currentThread = t;
    if (t.unRead==true){
        numUnread[t.student] -= 1;
        t.unRead=false;
        var name = t.student_lastname + ", " + t.student_firstname;
        updateBadge(t.student, name, t.id, t.subject);
    };
    
    $(".message-label").removeClass("btn-success");
    $('#all-messages-label').addClass('btn-success');
    $(elem).addClass("btn-success");
    document.getElementById("student-name").innerHTML = t.student_firstname + ' ' + t.student_lastname;
    var tmp = "";
    var messages = threadToMsgs[t.id];
    for(var i=0;i<messages.length;i++){

        m = messages[i];
        if(m.receive==true){
            tmp += "<div class='row'><div class='col-md-2'><b>Parent:</b></div>"
            +"<div id='actual-msg' class='col-md-10' style='margin-bottom:20px;'>"
            + m.content + "</br></br><i><font color='#AAAAAA'>"
            + m.time + "</font></i></br></br>"
            + "</div></div>";
        }else{
            tmp += "<div style='background:#DDDDDD; padding-top:10px;' class='row'><div class='col-md-2'><b>Me:</b></div>"
            +"<div id='actual-msg' class='col-md-10' style='margin-bottom:20px;'>"
            + m.content + "</br></br><i><font color='#AAAAAA'>"
            + m.time + "</font></i></br>"
            + "</div></div>";
        }
    }
    // $("#actual-msg").html(tmp);
    $("#message-data").html(tmp);
    $("#message-header").html(t.subject);
    $("#message-detail").fadeIn()


    $.ajax({
        type: 'POST',
        url: '/messages/readThread',
        data: {
            csrfmiddlewaretoken: csrftoken,
            subject:t.subject}

    });

};

var refreshThread = function (t) {
    currentThread = t;
    
    document.getElementById("student-name").innerHTML = t.student;
    var tmp = "";
    for(var i=0;i<t.messages.length;i++){
         m = t.messages[i];
        if(m.receive==true){
            tmp += "<div class='row'><div class='col-md-2'><b>Parent:</b></div>"
            +"<div id='actual-msg' class='col-md-10' style='margin-bottom:20px;'>"
            + m.content + "</br></br><i><font color='#AAAAAA'>"
            + m.time + "</font></i></br></br>"
            + "</div></div>";
        }else{
            tmp += "<div style='background:#DDDDDD; padding-top:10px;' class='row'><div class='col-md-2'><b>Me:</b></div>"
            +"<div id='actual-msg' class='col-md-10' style='margin-bottom:20px;'>"
            + m.content + "</br></br><i><font color='#AAAAAA'>"
            + m.time + "</font></i></br>"
            + "</div></div>";
        };
    };
    $("#message-data").html(tmp);
    $("#message-header").html(t.subject);
    $("#message-detail").fadeIn();

};


var loadAllMessages = function () {
    $("#messages-panel").empty();
    for (i in thread_ids){
        id = thread_ids[i];
        t = allThreads[i];
        var subj = t.subject;
        var item = document.createElement("div");
        if (t.unRead){
            item.innerHTML = "<div class='col-md-6'>"+ t.subject + "</div><div class='col-md-4'><span id='badge' class='badge pull-right'>1</span></div>";
        } else {
            item.innerHTML = "<div class='col-md-6'>"+ t.subject + "</div>";
        };
        $(item).attr('id', 'thread'+id)
        $(item).addClass("message-label btn btn-block row");
        $(item).data("mes", t);
        item.onclick=function(){
            hilightThread(this, $(this).data("mes"));
        }
        $("#messages-panel").prepend(item);

    }
    
    $(".student-label").removeClass("btn-success");
    $(".message-label").removeClass("btn-success");
    $("#message-detail").fadeOut();
    $("#all-messages-label").addClass("btn-success");
};

/*
//convert js date object to our date time format
var convertDate = function (d) {
    var month = d.getMonth() + 1;
    var dateTime = month + "/" + d.getDate() + " " + d.getHours() + ":";
    if (d.getMinutes() < 10) {
        dateTime = dateTime + "0" + d.getMinutes();
    } else {
        dateTime = dateTime + d.getMinutes();
    }
    return dateTime;
}*/

var updateBadge = function (stud_id, name, thread_id, subj){
    //var id = "#student-"+studentNames.indexOf(name);//jackie's version
    var id = "#student-"+stud_id; //yinfu's version
    var num = numUnread[stud_id];
    if(num == 0){
        $(id).html(name + "<span id='badge' class='badge pull-right'></span>");
        $('#thread'+thread_id).html(subj + "<span id='badge' class='badge pull-right'></span>");
    }else{
        $(id).html(name + "<span id='badge' class='badge pull-right'>" + num + "</span>");
        $('#thread'+thread_id).html(subj + "<span id='badge' class='badge pull-right'>" + num + "</span>");
    };
};

$(document).ready(function() {
    $("#message-detail").hide();

    loadAllMessages();

    //appending each student to the student panel
    for (i in student_ids) {
        var key = student_ids[i];
        if (numUnread[key]>0){
            var student = "<div id='student-"+key+"' class='student-label btn btn-block' onclick=hilightStudent(this)>" + studentNames[key] + "<span id='badge' class='badge pull-right'>" + numUnread[key] + "</span></div>";

            
        } else {
            var student = "<div id='student-"+key+"' class='student-label btn btn-block' onclick=hilightStudent(this)>" + studentNames[key] + "</div>";
        }
        
        $("#students-panel").append(student);
    };

    //initialize messages panel and message details to be hidden
    $("#message-detail").fadeOut();
    
    $('#sendBTN').click(function (e) {
        //e.preventDefault();
        //newMessage();
        $("#newMessageModal").modal('hide');

    });
    
    $('#msgReply').submit(function(e) {

        //set params
        var lastname = $('#student-name').text().split(' ')[1];
        $('#replyRecipient').val(lastname);

        var subject = $('#message-header').text();
        $('#replySubject').val(subject);
    });


    //modal recipients select dropdown
    var select = document.getElementById("recipient");
    for (var i = 0; i < student_ids.length; i++) {
        var id = student_ids[i];
        var opt = studentNames[id];
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
    };
    $("#recipient").select2();

    //search for students---------start
    select = document.getElementById("search");
    select.appendChild(document.createElement("option"));
    for (var i = 0; i < student_ids.length; i++) {
        var id = student_ids[i];
        var opt = studentNames[id];
        //create dictionary mapping name to stud id
        nameToID[opt] = id;
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
    };
    $("#search").select2({
        placeholder: "Click to search for a student"
    });
    $("#search").on("select2-selecting", function(e) {
        var id = nameToID[e.val];
        var elem = document.getElementById("student-"+id);
        hilightStudent(elem);
    });
    //search for students---------end

});

</script>