<!DOCTYPE html>
<!--Messages page
	Main author: Yinfu, Jackie
-->

<html lang="en">
<head>
    {% include 'nav_bar.html' %}
    <title>Tandem - Messages</title>

    <!--load stylesheets & bootstrap-->
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/message.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/external_js/select2-3.4.6/select2.css">

    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->

    <!-- load necessary javascript files-->
    <script type="text/javascript" src="/static/external_js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/external_js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/external_js/select2-3.4.6/select2.js"></script>
    {% include 'messageJS.html' %}
    {% load message_extras %}

</head>


<body>
	<div id='newMessageModal' class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id='newMessageForm' class='form-horizontal' action='/messages/new' method='post'>
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">New Message</h4>
                    </div>
                    <div class="modal-body">
                        <div class='form-group'>
                            <label for='recipient' class='col-lg-2 control-label'>To:</label>
                            <div class='col-lg-10'>
                                <!-- <input type='text' class='form-control' id='recipient' placeholder='Parents of...'> -->
                                <span>Parents of  </span>
                                <select class="select-search" id="recipient" name='recipient'>
                                </select>
                            </div>

                        </div>

                        <div class='form-group'>
                            <label for='subject' class='col-lg-2 control-label'>Subject:</label>
                            <div class='col-lg-10'>
                                <input type='text' class='form-control' id='subject' name='subject' placeholder='Enter subject'>
                            </div>

                        </div>

                        <div class='form-group'>
                            <label for='details' class='col-lg-2 control-label'>Message Details:</label>
                            <div class='col-lg-10'>
                                <textarea id='details' name='details' class='form-control' rows='10'></textarea>
                            </div>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id='sendBTN' type="submit" class="btn btn-success">Send</button>
                    </div>

                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class='container'>
        <div id='header-bar' class='row'>
            <div id='page-header' class="page-header col-md-4">
                <h3>Messages Inbox</h3>
            </div>
            <select id='search' class="select-search"></select>
            <button id='new-message-button' class='btn btn-success' data-toggle='modal' data-target='#newMessageModal'>New</button>
        </div>

        <div id="content-wrapper" class="container">
            <div class="row">
                <div id="students-panel" class="col-md-3">
                    <div id="all-messages-label" class="message-label btn btn-block btn-success" onclick=loadAllMessages()>All messages</div>
                    <!--
                    {% for stud in students %}
                        {% if numUnread|get_item:stud.id > 0 %}
                            <div id='student-{{stud.id}}' class='student-label btn btn-block' onclick=hilightStudent(this)>{{ stud.lastName}}, {{ stud.firstName}}<span id='badge' class='badge pull-right'>{{ numUnread|get_item:stud.id }}</span></div>
                        {% else %}
                            <div id='student-{{stud.id}}' class='student-label btn btn-block' onclick=hilightStudent(this)>{{ stud.lastName}}, {{ stud.firstName}}</div>
                        {% endif %}
                    {% endfor %}-->
                </div>

                <div id="messages-panel" class="col-md-3">
                    {% for t in messageThreads %}
                        <div class="messages-label btn btn-block row">
                            <div class="col-md-6">{{ t.subject }}</div>
                            <!--<div class="col-md-4">{{ t.timestamp }}</div>-->
                        </div>
                    {% endfor %}
                    </div>        
                <div id="message-detail" class="col-md-6">
                    <div id="message-header"></div>
                    <div id="message-stud">Message from parents of
                        <span id="student-name"></span>
                    </div>
                    <div id='message-data'>
                        <div class='row'>
                            <div class='col-md-2'><b>Parent:</b>
                            </div>
                            <div id='actual-msg' class="col-md-10" style="margin-bottom:20px;"></div>
                        </div>
                    </div>

                    <div id='responseBox' class='row'>
                        <span>Your Reply:</span>
                        <form id='msgReply' action='/messages/reply' method='post'>
                            {% csrf_token %}
                            <textarea style="margin-top:10px;margin-bottom:10px;" id='responseText' name='responseText' class='col-md-10'></textarea>
                            <button id='sendResponse' type='submit' class='col-md-2 btn btn-success'>send</button>
                        </form>
</div> 
                    </div>
                </div>
            </div>
        </div>    
	</div>  
    
</body>

</html>