<!--Student Profile Page
    Main author: jcweaver
    
       Notes: Search Bar To Be implemented in future?
    -->
<html>
    <title>Tandem - Student Profile </title>
    <head>
        {% include 'nav_bar.html' %}

        <script src="/static/external_js/jquery-1.8.3.js"></script>
        
        <script src="/static/external_js/jquery.ui.datepicker.js"></script>
        <script src="/static/external_js/jquery.ui.widget.js"></script>
        <script src="/static/external_js/jquery.ui.core.js"></script>
        <script src="/static/external_js/jquery-ui.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.js"></script>

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/datepicker.css">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">

        <link rel="stylesheet" type="text/css" href="/static/jqtimeline/css/jquery.jqtimeline.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">
        <link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-dialog.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css">
        <script type="text/javascript" src="/static/jqtimeline/js/jquery.jqtimeline.js"></script>

        <script>
            $(function() {
                console.log($( "#datepicker" ));
                $( "#date" ).datepicker();
                $("#datepicker2").datepicker({changeMonth: true,changeYear: true});
            });
        </script>
    </head>
    <body>
        <!-- Django Event stuff -->
{% for ev in events %}

    <div id="event{{ev.id}}" description="{{ev.description}}" subject="{{ev.subject}}" year="{{ev.date.year}}" month="{{ev.date.month}}" day="{{ev.date.day}}" attention="{{ev.attention}}" class="event" eventid="{{ev.id}}"></div>

{% endfor %}
        <div class='container'>
            <div id='header-bar' class='row'>
                <div id='page-header' class="page-header col-md-4">
                    <h3>Student Profile</h3>
                </div>
                <!-- <button id="editinfo-btn" class='btn btn-success' data-toggle="modal" data-target="#childInfoModal" onclick="fillinfo();"/>Edit Child's Info</button>
                <button id="editinfo-btn2" class='btn btn-success' data-toggle="modal" data-target="#guardianInfoModal" onclick="fillinfo2();"/>Edit Guardian Info</button> -->
            </div>
            <div id="profile-wrapper" class="container">
                <div class="column-left">
                    <img src="/static/image/{{ stud_id }}.png" alt="Johnny Fox profile image" class="prof">
                </div>
                <div class="column-center">
                    <div display="inline-block"></div>
                    <h1 id="student-name">{{student.firstName}} {{student.lastName}}</h1>
                    <span><b>Preferred Name:</b> <span id="preferred-name">{{student.preferredName}}</span></br><span>
                    <span><b>Date of Birth:</b><span id="dob"> {{student.birthdate.date.month}}/{{student.birthdate.date.day}}/{{student.birthdate.date.year}}</span></br><span>
                </div>
                <div class="column-right">
                    <h3>Parents / Guardians</h3>
                    <span id="g1label" class="parent">{{student.parent1}} </span>
                    <br>    
                    <span id="g2label" class="parent">{{student.parent2}} </span>
                    <br><br>
                    <div class="icon-wrapper">    
                       <div id="sfoxclick" onclick="$('#contactparent').text({{ student.parent2 }});" data-toggle="modal" data-target="#newMessageModal"><img src="/static/image/mailicon.png" alt="Send a message" class="contacticons"></div>
                        <div data-toggle="modal" data-target="#phoneNumberModal"><img src="/static/image/callicon.png" alt="Call with Google Voice" class="contacticons"></div>
                    </div>
                </div>
            </div>
            <!-- <div id="timelineTitle"> Timeline of Events</div>
            <br> -->
            <div id="timeline-wrapper" class="container">
                <div id="myTimeline"></div>
            </div>
            <div id="button-wrapper">
                <button id="addevent" class='btn btn-success' data-toggle="modal" data-target="#myModal"/>Add Event</button>
            </div>
            <div id="timelineTitle"> Timeline of Events</div>
        </div>


 
    <div id='myModal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id='newEventForm' class='form-horizontal' action='/student/{{student.id}}/addEvent'  method='post'>
                        
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add Event</h4>
                        </div>
                        <div class="modal-body">

                            <div class='form-group'>
                                <label for='subject' class='col-lg-2 control-label'>Subject: </label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='subject' name='subject' placeholder='Enter subject'>
                                </div>

                            </div>

                            <div class='form-group'>
                                <label for='details' class='col-lg-2 control-label'>Description: </label>
                                <div class='col-lg-10'>
                                    <textarea id='description' class='form-control' name='description' rows='10'></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='date' class='col-lg-2 control-label'>Date:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='date' name="date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='attention' class='col-lg-2 control-label'>Needs Attention:</label>
                                <div class='col-lg-10'>
                                    <input type='checkbox' id='attention' name='attention' value="Needs Attention" >
                                </div>
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id='eventsubmit' type="submit" name='submit' class="btn btn-success">Submit</button>
                        </div>

                        {% if form.errors %}
                            <p class="error">Invalid entries. Please double check that you have entered a subject and have entered contents.</p>
                        {% endif %}

                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<!--         <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="eventform" class="form-horizontal" action="student/{{student.id}}/addEvent" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"/>&times;</button>
                            <h4 class="modal-title">Add an Event to the Timeline</h4>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                        <div class="modal-footer">
                            <button id="closeform" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id="submitform" type="submit" class="btn btn-primary" data-dismiss="modal" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div> -->


        <!-- Modal for editing Johnny's info -->
        <div class="modal fade" id="childInfoModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="editform" class="form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Edit Child's Info</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for='nickname' class='col-lg-2 control-label'>Preferred Name:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='nickname' placeholder='Preferred Name'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='datepicker2' class='col-lg-2 control-label'>Date of Birth:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='datepicker2' >
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="closeform2" type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="submitform2" type="submit" class="btn btn-primary" data-dismiss="modal">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!--Modal for editing parent/guardian info -->
        <div class="modal fade" id="guardianInfoModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="editguardianform" class="form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Edit Parent/Guardian Info</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for='guardian1' class='col-lg-2 control-label'>Name:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian1' >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='guardian1phone' class='col-lg-2 control-label'>Phone:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian1phone' >
                                </div>
                            </div>
                             <div class="form-group">
                                <label for='guardian1email' class='col-lg-2 control-label'>Email:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian1email' >
                                </div>
                            </div>   
                            <div class="form-group">
                                <label for='guardian2' class='col-lg-2 control-label'>Name:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian2'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='guardian2phone' class='col-lg-2 control-label'>Phone:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian2phone' >
                                </div>
                                </div>
                                <div class="form-group">
                                <label for='guardian2email' class='col-lg-2 control-label'>Email:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian2phone' >
                                </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button id="Guardian_closeform" type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="Guardian_submitform" type="submit" class="btn btn-primary" data-dismiss="modal">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



<!--Modal for displaying phone numbers -->
<div id='phoneNumberModal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Primary Guardian Contact Info</h4>
                        </div>
                        <div class="modal-body">
                            <div class='form-group'>
                                <div class=' contactInfo'><strong>Phone Number:</strong></div>
                                    <div id="callparent1">{{student.parent_phone}}</div>

                            </div>
                            <br><br>
                            <div class='form-group'>
                                <div class='contactInfo'><strong>Email:</strong></div>

                                    <div id="email1">{{student.parent_email}}</div>

                                </div>
                            </div>

                        </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


    <div id='newMessageModal' class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id='newMessageForm' class='form-horizontal' action='/messages/new' method='post'>
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">New Message</h4>
                    </div>
                    <div class="modal-body">
                        <div class='form-group'>
                            <label for='recipient' class='col-lg-2 control-label'>To:</label>
                            <div class='col-lg-10'>
                                <!-- <input type='text' class='form-control' id='recipient' placeholder='Parents of...'> -->
                                <span>Parents of  </span>
                                <label>{{student.firstName}} {{student.lastName}}</label>
                                <input type="hidden" name="recipient" value="{{student.lastName}},{{student.firstName}}">
                            </div>

                        </div>

                        <div class='form-group'>
                            <label for='subject' class='col-lg-2 control-label'>Subject:</label>
                            <div class='col-lg-10'>
                                <input type='text' class='form-control' id='subject' name='subject' placeholder='Enter subject'>
                            </div>

                        </div>

                        <div class='form-group'>
                            <label for='details' class='col-lg-2 control-label'>Message Details:</label>
                            <div class='col-lg-10'>
                                <textarea id='details' name='details' class='form-control' rows='10'></textarea>
                            </div>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id='sendBTN' type="submit" class="btn btn-success">Send</button>
                    </div>

                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

	<script type="text/javascript">
    var ev=[];
        var tl = $('#myTimeline').jqtimeline({
        events : ev,
        numYears:1,
        startYear:2014,
        gap: 80
    });

      $("#submitform2").click(function(evt) {
        $("#preferred-name").text($("#nickname").val());
        $("#dob").text($("#datepicker2").val());
    });
      $("#Guardian_submitform" ).click(function(evt) {
        // {{student.parent1}} = $("#guardian1").val();
        // {{student.parent2}} = $("#guardian2").val();
        $( "#dialog-message" ).dialog("open");
      });
      var fillinfo = function(){
        $("#nickname").val($("#preferred-name").text());
        $("#datepicker2").val($("#dob").text());
      };
      var fillinfo2 = function(){
        $("#guardian1").val($("#g1label").text());
        $("#guardian2").val($("#g2label").text());
      }
      // 
  var createEvent=function (title, description, year, month, day, attention,event_id){
    console.log("called create event");
        var timelineObj = $('#myTimeline').data('jqtimeline');
        var id=timelineObj.getAllEvents().length+1;
        var date=new Date(year.valueOf()+"-"+month.valueOf()+"-"+day.valueOf());
        console.log("attention",attention);
        var eventObj = {id: id, name: title, on : date, description: description, flag: attention};
        timelineObj.addEvent(eventObj);
        $("#event_"+id).popover({
                    trigger: 'hover',
                    html: true,
                    title: "<h4>"+title + " "+month.valueOf()+"/"+day.valueOf()+"/"+year.valueOf()+"</h4>",
                    content: "<div class='popup'>"+description+"<br><a id='deleteEvent' href='/event/delete/"+event_id+"'>Delete</a></div>",
                    delay: {show:200, hide:200},
                    container: '#event_'+id
                });
      }

      var createStoredEvents=function(){
        var elements = document.getElementsByClassName("event");
        console.log(elements);
        for (var el=0; el<elements.length; el++){
            var id=elements[el].id;
            console.log(id);
            var div=$("#"+id);
            createEvent(div.attr("subject"),div.attr("description"),div.attr("year"),div.attr("month"),div.attr("day"),div.attr("attention"),div.attr("eventid"));
        }
      }
      var setUpDescriptionModals=function(){

      }
      var getDate=function(date_string){

      }


$(document).ready(function () {
    $.getScript("/static/bootstrap/js/bootstrap.min.js");
    $.getScript("/static/js/bootstrap-dialog.js");
    createStoredEvents();

});


</script>


</body>
</html>