<!--Student Profile Page
    Main author: jcweaver
    
       Notes: Search Bar To Be implemented in future?
    -->
<html>
    <title>Tandem - Student Profile </title>
    <head>
        {% include 'templates/nav_bar.html' %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="/static/external_js/jquery-1.8.3.js"></script>
        
        <script src="/static/external_js/jquery.ui.datepicker.js"></script>
        <script src="/static/external_js/jquery.ui.widget.js"></script>
        <script src="/static/external_js/jquery.ui.core.js"></script>
        <script src="/static/external_js/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">

        <script src="/static/bootstrap/js/bootstrap.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-dialog.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/jqtimeline/css/jquery.jqtimeline.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-dialog.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css">
        <script type="text/javascript" src="/static/jqtimeline/js/jquery.jqtimeline.js"></script>
        <script>
            $(function() {
                console.log($( "#datepicker" ));
                $( "#datepicker" ).datepicker();
                $("#datepicker2").datepicker({changeMonth: true,changeYear: true});
            });
        </script>
    </head>
    <body>
        <div class='container'>
            <div id='header-bar' class='row'>
                <div id='page-header' class="page-header col-md-4">
                    <h3>Student Profile</h3>
                </div>
                <button id="editinfo-btn" class='btn btn-success' data-toggle="modal" data-target="#childInfoModal" onclick="fillinfo();"/>Edit Child's Info</button>
                <button id="editinfo-btn2" class='btn btn-success' data-toggle="modal" data-target="#guardianInfoModal" onclick="fillinfo2();"/>Edit Guardian Info</button>
            </div>
            <div id="profile-wrapper" class="container">
                <div class="column-left">
                    <img src="/static/images/johnny_fox_prof.jpeg" alt="Johnny Fox profile image" class="prof">
                </div>
                <div class="column-center">
                    <div display="inline-block"></div>
                    <h1 id="student-name">{{student.firstName}} {{student.lastName}}</h1>
                    <span><b>Preferred Name:</b> <span id="preferred-name">{{student.preferredName}}</span></br><span>
                    <span><b>Date of Birth:</b><span id="dob"> {{student.birthdate.date}}</span></br><span>
                </div>
                <div class="column-right">
                    <h3>Parents / Guardians</h3>
                    <span id="g1label" class="parent">{{student.parent1}} </span>
                    <br>    
                    <span id="g2label" class="parent">{{student.parent2}} </span>
                    <br><br>
                    <div class="icon-wrapper">    
                       <div id="sfoxclick" onclick="$('#contactparent').text('Susan Fox');" data-toggle="modal" data-target="#newMessageModal"><img src="/static/images/mailicon.png" alt="Send a message" class="contacticons"></div>
                        <div data-toggle="modal" data-target="#phoneNumberModal"><img src="/static/images/callicon.png" alt="Call with Google Voice" class="contacticons"></div>
                    </div>
                </div>
            </div>
            <div id="timeline-wrapper" class="container">
                <div id="myTimeline"></div>
            </div>
            <div id="button-wrapper">
                <button id="addevent" class='btn btn-success' data-toggle="modal" data-target="#myModal"/>Add Event</button>
            </div>
        </div>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="eventform" class="form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Add an Event to the Timeline</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for='eventname' class='col-lg-2 control-label'>Event:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='eventname' placeholder='Event Name'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='eventdescription' class='col-lg-2 control-label'>Details:</label>
                                <div class='col-lg-10'>
                                    <textarea id="eventdescription" class='form-control' rows="8"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='datepicker' class='col-lg-2 control-label'>Date:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='datepicker' >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='eventstatus' class='col-lg-2 control-label'>Status:</label>
                                <div class='col-lg-10'>
                                    <input type='checkbox' id='eventstatus' value="Flag" >   Needs Attention</input>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="closeform" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="submitform" type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal for editing Johnny's info -->
        <div class="modal fade" id="childInfoModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="editform" class="form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Edit Child's Info</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for='nickname' class='col-lg-2 control-label'>Preferred Name:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='nickname' placeholder='Preferred Name'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='datepicker2' class='col-lg-2 control-label'>Date of Birth:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='datepicker2' >
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="closeform2" type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="submitform2" type="submit" class="btn btn-primary" data-dismiss="modal">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!--Modal for editing parent/guardian info -->
        <div class="modal fade" id="guardianInfoModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="editguardianform" class="form-horizontal">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Edit Parent/Guardian Info</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for='guardian1' class='col-lg-2 control-label'>Name:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian1' >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='guardian1phone' class='col-lg-2 control-label'>Phone:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian1phone' >
                                </div>
                            </div>
                             <div class="form-group">
                                <label for='guardian1email' class='col-lg-2 control-label'>Email:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian1email' >
                                </div>
                            </div>   
                            <div class="form-group">
                                <label for='guardian2' class='col-lg-2 control-label'>Name:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian2'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for='guardian2phone' class='col-lg-2 control-label'>Phone:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian2phone' >
                                </div>
                                </div>
                                <div class="form-group">
                                <label for='guardian2email' class='col-lg-2 control-label'>Email:</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='guardian2phone' >
                                </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button id="Guardian_closeform" type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="Guardian_submitform" type="submit" class="btn btn-primary" data-dismiss="modal">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Message modal for sending a message from parents -->
    <div id='newMessageModal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id='newMessageForm' class='form-horizontal'>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">New Message</h4>
                        </div>
                        <div class="modal-body">
                            <div class='form-group'>
                                <label for='subject' class='col-lg-2 control-label'>To:</label>
                                <div class='col-lg-10'>
                                    <label id="contactparent"></label>
                                </div>

                            </div>
                            <div class='form-group'>
                                <label for='subject' class='col-lg-2 control-label'>Subject</label>
                                <div class='col-lg-10'>
                                    <input type='text' class='form-control' id='subject' placeholder='Enter subject'>
                                </div>

                            </div>

                            <div class='form-group'>
                                <label for='details' class='col-lg-2 control-label'>Message Details</label>
                                <div class='col-lg-10'>
                                    <textarea id='details' class='form-control' rows='10'></textarea>
                                </div>
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id='sendBTN' type="submit" class="btn btn-success">Send</button>
                        </div>

                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<!--Modal for displaying phone numbers -->
<div id='phoneNumberModal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Phone Number</h4>
                        </div>
                        <div class="modal-body">
                            <div class='form-group'>
                                <label for='subject' class='col-lg-2 control-label'>Cell #:</label>
                                <div class='col-lg-10'>
                                    <label id="callparent1">Phone Number</label>
                                </div>

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<!--Modal for displaying event info -->
<div id='eventModal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="event_modal_title">Title</h4>
                        </div>
                        <div class="modal-body">
                            <div class='form-group'>
                                <label class='col-lg-2 control-label'>Description:</label>
                                <div class='col-lg-10'>
                                    <label id="event_desc">Description</label>
                                </div>

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

<!-- Django Event stuff -->
{% for ev in events %}
<div>event.date</div>
    <script>createEvent({{event.subject}},{{event.date}},{{event.description}},{{event.attention}});</script>
{% endfor %}

	<script type="text/javascript">
    var ev=[];
        var tl = $('#myTimeline').jqtimeline({
        events : ev,
        numYears:1,
        startYear:2014,
        gap: 90
    });

    $("#submitform").click(function(evt) {
        var timelineObj = $('#myTimeline').data('jqtimeline');
        var ename=$('#eventname').val();
        var edescription=$("#eventdescription").val();
        var edate=$('#datepicker').val();
        BootstrapDialog.show({
            title: "Event Confirmation",
            message: "<p>Are you sure you want to add this event?</p>",
            buttons: [{
                label: "OK",
                action: function(dialog) {
                    evt.preventDefault();
                    //timelineObj.method();
                    createEvent($('#eventname').val(),new Date($('#datepicker').val()),$("#eventdescription").val(),$("#eventstatus").prop('checked'));
                    dialog.close();
                }
                        }, {
                        label: "Cancel",
                        action: function(){
                            dialog.close();
                        }
                        }
                        ]

        });
     });
      $("#submitform2").click(function(evt) {
        $("#preferred-name").text($("#nickname").val());
        $("#dob").text($("#datepicker2").val());
    });
      $("#Guardian_submitform" ).click(function(evt) {
        // {{student.parent1}} = $("#guardian1").val();
        // {{student.parent2}} = $("#guardian2").val();
        $( "#dialog-message" ).dialog("open");
      });
      var fillinfo = function(){
        $("#nickname").val($("#preferred-name").text());
        $("#datepicker2").val($("#dob").text());
      };
      var fillinfo2 = function(){
        $("#guardian1").val($("#g1label").text());
        $("#guardian2").val($("#g2label").text());
      }

      var createEvent=function (title,date,description,attention){
        var timelineObj = $('#myTimeline').data('jqtimeline');
        var id=timelineObj.getAllEvents().length+1;
        for (var el=0; el<id; el++){
            var eventObj = {id: id, name:title, on : date, description: description, flag: attention};
            timelineObj.addEvent(eventObj);
            $("#event_"+id).popover({
                        trigger: 'hover',
                        html: true,
                        title: "<h4>"+title + " "+date+"</h4>",
                        content: "<div class='popup'><button type='button' class='btn btn-success' data-toggle='modal' data-target='#eventModal'>View More</button></div>",
                        delay: {show:200, hide:200},
                        container: '#event_'+id
                    });
        }
      };

      // 
  


</script>


</body>
</html>